.container {
  background-color: #2c7873;
  margin-bottom: 20px;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
}

.container__img {
  height: 100px;
}

.container__name {
  color: #ffffff;
}
